<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encryption Result</title>
</head>
<body>
  <h1><%= message %></h1>
  <p>c1: <%= c1 %></p>
  <p>c2: <%= c2 %></p>
  <a href="/">Go Back</a>
</body>
</html>
